.switch input[type=checkbox] {
    position:relative;
    width:40px;
    height:20px;
    top: 5px;
    visibility:hidden;
}

.switch input[type=checkbox].disabled, input[type=checkbox][disabled],
        input[type=text].disabled, input[type=text][disabled],
        input[type=datetime].disabled, input[type=datetime][disabled],
        input[type=date].disabled, input[type=date][disabled],
        input[type=number].disabled, input[type=number][disabled] {
    cursor: default;
}

.switch input[type=checkbox]:before {
    visibility:visible;
    position:absolute;
    display:block;
    width:100%;
    height: 20px;
    top:0;
    background:#fff;
    content: '';
    border-radius:10px;
    border:solid 1px #ddd;
    transition:all .5s;
}
    
.switch input[type=checkbox]:after {
    visibility:visible;
    top:0;
    display:block;
    content:'';
    width:20px;
    height:20px;
    background:#fff;
    position:absolute;
    border-radius:50%;
    border:solid 1px #ddd;
    transition:all .5s;
    left:0;
}
    
.switch input[type=checkbox]:checked:after {
    left:100%;
    margin-left:-20px;
}
    
.switch input[type="checkbox"]:checked:before {
    background:#2ecc71;
}